name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: dependencies
      run: sudo apt-get install check valgrind
    - uses: actions/checkout@v6
    - name: make
      run: make valgrind
